.calendar-container {
position: relative;
width: 100%;
padding-bottom: 75%;
height: 0;
overflow: hidden;
}




.google-calendar {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 0;
border-radius: 9px;
}




@media (min-width: 768px) {
.calendar-container {
  padding-bottom: 56.25%;
}
}




.mobile-tip {
display: none;
}




@media (max-width: 768px) {
.mobile-tip {
  display: block;
}
}

#Green {
  color: #156131;
  font-weight: bold;
}

#Blue {
  color: #1771a5;
  font-weight: bold;
}