

.App {
 text-align: center;
 padding: 2rem;
}


h1 {
 color: var(--primary-dark);
 font-size: 3rem;
 margin-bottom: 0.5rem;
}


h2 {
 color: var(--accent-color);
 font-size: 1.5rem;
 margin-bottom: 1rem;
}
